.header {
  // background-color: seagreen;
  width: 100vw;

  .logo {
    font-weight: 100;
  }
}

.nav-items {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin: 0px;
  .nav-item {
    margin-right: 20px;
    font-size: 0.8rem;
    a {
      text-decoration: none;
    }
  }
}

.header-wrapper {
  height: 75px;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.green-accent {
  color: #15aa00;
  font-weight: 400;
}
