.hero-section {
  background-color: pink;

  .headshot-section {
    grid-column: 3 / 6;
    background-color: lightgreen;
  }

  .mini-bio {
    background-color: lightslategray;
    grid-column: 8 / 12;
  }
}
